<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <section class="dashboard-info">
        <h2>Welcome, <%= name %>!</h2>
        <p><strong>Name:</strong> <%= name %></p>
        <p><strong>Email (Username):</strong> <%= email %></p>
    </section>

</main>

<%- include('partials/footer') %>